[submodule "cpp_micro/codi"]
	path = cpp_micro/codi
	url = https://github.com/SciCompKL/CoDiPack.git
[submodule "cpp_micro/functional"]
	path = cpp_micro/functional
	url = https://github.com/boostorg/functional.git
[submodule "cpp_micro/eigen"]
	path = cpp_micro/eigen
	url = https://github.com/RLovelett/eigen.git
